.App {
  text-align: center;
  background-image: url("/src/green-palm.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;

  /* display: flex;
  justify-content: space-around;
  align-items: center; */
}


